* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
}

.base-info {
  width: 100%;
  height: 400px;

  display: flex;
  align-items: center;

  overflow: hidden;
  position: relative;
}

.base-info::after {
  content: "";
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  background-image: url(../imgs/FondoPaisa.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.base-info::before {
  content: "";
  width: 100%;
  height: 100%;

  backdrop-filter: blur(5px);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.base-info .content-img {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: end;

  overflow: hidden;
}

.base-info .content-img .img {
  width: 600px;
  height: 100%;
  background-image: url(../imgs/BANDEJA-PAISA.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -80px;
}

.base-info .container-title {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;

  flex: auto;
  padding-left: 50px;
  box-shadow: 1px 1px 20px 10px black;
}

.base-info .container-title .title {
  font-size: 4rem;
  color: white;
  text-shadow: 3px 3px 3px black;
}
